@import "../styles/colors.scss";
@import "../styles/fontStyles.scss";
.docsPageLayout {
    margin-left: 270px;
}

.docsMainLayout {
    max-width: 1000px;
    background-color: $blackBright;
    margin: auto;
    padding-top: 20px;
}