@import "../styles/colors.scss";
@import "../styles/fontStyles.scss";
.pageLayout {
    margin-left: 200px;
    padding-top: 40px;
}

.mainLayout {
    max-width: 900px;
    margin: auto;
    padding-top: 20px;
    color: $blackBright;
}

.titleContainer {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.title {
    margin-left: 10px;
}

.brand {
    width: 25px;
}

//=========================
.content {
    line-height: 1.6;
    a {
        color: $blueViolet;
        text-decoration: underline;
    }
}